/* Applying JakartaSans font */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
    font-family: 'JakartaSans', sans-serif;
    font-size: 20px;
    
}

.navbar {
  margin-left: 132px ;
  margin-right: 132px ;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Styles for normal nav links */
.navbar-nav .nav-link {
  color: #2e2e2e;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.navbar-nav .nav-link:last-child {
  margin-right: 0; /* Remove margin from the last link */
}
/* Styles for active nav link */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #563086 !important;
}



/* Remove margin from all nav links */
.navbar-nav .nav-link {
  margin-left: 0 !important;
}

/* Styling for the logo */
.logo img {
  width: 46px;
  height: 47px;
}

/* Ensure all nav links are aligned to the right */
.navbar-nav {
  margin-left: auto;
}



@media (max-width: 768px) {
  /* Adjust padding for smaller screens */
  .navbar {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  /* Ensure the logo and hamburger menu respect the padding */
  .navbar-toggler,
  .logo {
    margin-left: 0;
  }

  /* Ensure the navbar-collapse is full width */
  .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }

  /* Optional: Adjust nav-link alignment on small screens if needed */
  .navbar-nav {
    margin-left: 0;
  }
}


.message{
    font-size: 28px;
    color: #2E2E2E;
    /* padding-left: 132px; */
}

@media(max-width:768px){
  .message{
    font-size: 24px;
  }
}

html, body {
  height: 100%; /* Ensure the html and body take up the full height of the viewport */
  margin: 0; /* Remove default margin */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   /* Ensure the container takes up at least the full height of the viewport */
}

.page-container {
  flex: 1; /* Allow the header and main to grow and take up available space */
}

.message, .button-container{
  margin-left: 132px;
  margin-right: 132px;
}

@media(max-width:768px){
  .message, .button-container{
    margin-left: 20px;
    margin-right: 20px;
}
}


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  .buttons {
    margin-top: 20px;
    border-radius: 30px;
  }
  
  .blob-btn {
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #563086;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #563086;
    border-radius: 30px;
  }
  
  .blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 30px;
  }
  
  .blob-btn:hover {
    color: #FFFFFF;
    border-radius: 30px;
  }
  
  .blob-btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 30px;
  }
  
  .blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
  }
  
  .blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  
  .blob-btn__blob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: #563086;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
  }
  
  .blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
  }
  
  .blob-btn__blob:nth-child(2) {
    left: 25%;
    transition-delay: 0.08s;
  }
  
  .blob-btn__blob:nth-child(3) {
    left: 50%;
    transition-delay: 0.16s;
  }
  
  .blob-btn__blob:nth-child(4) {
    left: 75%;
    transition-delay: 0.24s;
  }
  
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
  }

  /* .button-container{
    margin-left: 132px;
  } */

  .blob-btn{
    margin-right: 20px;
  }

@media(max-width: 1024px){
  .page-container{
    margin-left: 80px;
    margin-right: 80px;
    padding: 0px;
  }
}

@media(max-width: 768px){
  .page-container{
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
  }
}


  @media (max-width: 768px) { /* For smaller tablets and large phones */
    .blob-btn {
        padding: 16px 36px;
        font-size: 14px;
    }
  
    .blob-btn:before {
        border: 2px solid #563086;
    }
    .page-container {
      /* margin-left: 20px; /* Adjusted margin for phones */
      /* margin-right: 20px; */
      padding: 0px; /* Adjusted margin for phones */
  }
  }
  
  @media (max-width: 480px) { /* For small phones */
    .blob-btn {
        padding: 12px 24px;
        font-size: 12px;
    }
  
    .blob-btn:before {
        border: 2px solid #563086;
    }
    .page-container  {
      /* margin-left: 20px; /* Adjusted margin for phones */
      /* margin-right: 20px;   */
      padding: 0px;/* Adjusted margin for phones */
  }
  }
  





